 @import "./globals.scss";

 .content {
    
    flex-direction: row;
    justify-content: flex-start;
 }

 .FrontPage {
   .wrapper{
     display: flex;
     flex-direction: column;
     align-items: center;
     overflow-y: hidden;
     color: $grey;

     .admin {
      display: flex;
      justify-content: space-between;
      width: 80%;
      margin: auto;
    
      h1 {
        text-align: left;
        font-family: $poppins;
        color: white;
        align-self: flex-start;
        display: flex;
        flex-direction: row;
        right: auto;
      }
      a{
        margin-top: auto;
        margin-bottom: auto;
      }
    
      .adminBtn {
        @include button;
        align-self: flex-start;
        background-color: $white;
        color: $green1;
        float: right;
        align-self: flex-end;
        
        
      }
        .adminBtn:hover {
          cursor: pointer;
        }
    }
    
  }
  .UserBox {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-family: $poppins;
    
    
  }

   .title-container {
     font-family: $poppins;
     display: flex;
     justify-content: flex-start;
     margin-top: 20px;
     text-align: left;
     align-items: left;
     width: 80%;
 
     .title1 {
       background-color: $white;
       padding: 20px;
       border-radius: 10px 10px 0 0 ; 
       a {
         color: $green1;
         list-style: none;
         text-decoration: none;
       }
 
       &.global-component-page {
         background-color: initial;
         padding: 20px;
         a {
           color: $white;
           list-style: none;
           text-decoration: none;
         }
       }
     }
     .title2{
       padding: 20px;
       a {
         color: $white;
         list-style: none;
         text-decoration: none;
       }
 
       &.global-component-page {
         background-color: $white;
         padding: 20px;
         border-radius: 10px 10px 0 0 ; 
         a {
           color: $green1;
           list-style: none;
           text-decoration: none;
         }
       }
     }
     .title3{
      background-color: $white;
         padding: 20px;
         border-radius: 10px 10px 0 0 ; 
         a {
           color: $green1;
           list-style: none;
           text-decoration: none;
         }
     }
   }
 
   .main-container {
     background-color: $white;
     border-radius: 0 10px 10px 10px;
     width: 74%;
     overflow: hidden;
     align-items: center;
     justify-content: center;
     padding: 3% 3% 20px 3%;
   }
   .edit-button{
    @include button;
   }
 }
