@import "./globals.scss";

.commentBox{
    width: 100%;
    border-radius: 5px;
    flex-direction: row;
    justify-content: flex-start;
    display: flex;
    padding-left: 50px;
    @media (max-width: 576px) {
            padding-left: 10px;
        }
    

    .commentImg{
        display: flex;
        width: 35px;
        height: 35px;
        margin: 5px;
        object-fit: cover;
        border-radius: 100%;
        
    }

    .commentInput{
        display: flex;
        width: 75%;
        
        margin-top: auto;
        margin-bottom: auto;
        margin-left: 10px;
    }
    button {
        @include button;
        height: 35px;
        margin-top: auto;
        margin-bottom: auto;
        margin-left: 2em;
        margin-right: 5px;
        @media (max-width: 1280px) {
                    margin-left: 2em;
        }
    }
}