.component {
    display: flex;
    flex-direction: column;
    
    justify-content: center;
    height: 100vh; // Gør komponenten fuldskærm i højden
  
    .title-container {
      display: flex;
      justify-content: left;
      margin-bottom: 20px;
    }
  
    .main-container {
      background-color: #00ff00; // Helt grøn baggrund
      padding: 20px;
      border-radius: 10px; // Tilføj eventuelt afrundede hjørner
      width: 50%;
      height: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  
    .content-container {
      // Styling for indholdet her, hvis nødvendigt
    }
  
    .title {
      margin: 0;
    }
  }
  