@import "./globals.scss";

form {
    display: flex;
    flex-direction: column;
    font-family: $poppins;

    input#image{
        display: block;
    }

    button {
        background-color: $green1;
        color: $white;
        margin: 10px;
        border: none;
        border-radius: 5px;
        :hover {
            color: $white;
        }
    }
}