$poppins: 'Poppins';
$raleway: 'Raleway';

body {
  background-image: url('../src/assets/footer_bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

@font-face {
  font-family: $poppins;
  src: url('../src/assets/fonts/Poppins/Poppins-Regular.ttf') format('truetype');
}

@font-face {
  font-family: $raleway;
  src: url('../src/assets/fonts/Raleway/Raleway-VariableFont_wght.ttf') format('truetype');
}

$green1: #018647;
$green2: #A4FFAF;
$orange1: #ED8007;
$orange2: #FBC330;
$white: #FFFFFF;
$grey: #74768F;
$grey3: #D9D9D9;
$purple: #AB4ABA;
$blue: #0091FF;
$grey2:#8C8C8C;
$lightGrey: #F2F2F2;

@mixin button {
    background-color: $green1;
    width:fit-content;
    padding: 10px;
    border: none;
    border-radius: 5px;
    color: $white;
    float: right;
    cursor: pointer;
    a{
      text-decoration: none;
      color: $green2;
    }
    :hover {
        color: $lightGrey;
    }
}

@mixin RoadmapColumn {
  font-family: $poppins;
  text-align: center;
  padding: 10px;
  font-size: 1.5vw;
  user-select: none;
  color: black;
  border-radius: 0.3vw;
}

.newRequest{
  float: right;
  @include button;
  margin: 10px 0px 0px 0px;
a{
  color: $white;
}
}