@import "./globals.scss";

nav {
    font-family: $poppins;
    background-color: $white;
    color: $grey;
    display:flex;
    justify-content: space-between;
    border-bottom: 1px solid $grey;
    a {
        display: block;
        margin: 10px;
        padding: 10px;
        color: $grey;
        text-decoration: none;
        img {
            height: 20px;
            margin-top: auto;
            margin-bottom: auto;
        }
    }  
    
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
    li{ 
        float: left;
          
    }
}
button {
    background-color: $green1;
    color: $white;
    padding: 10px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    :hover {
        background-color: $white;
        color: $green1;
    }
}