@import "./globals.scss";

nav {
    position:sticky;
    z-index: 2;
    font-family: $poppins;
    background-color: $white;
    color: $grey;
    display:flex;
    justify-content: space-between;
    border-bottom: 1px solid $grey;
    a {
        img {
            padding: 15px;
            height: 20px;
        }
    }  
    
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
    li{ 
        float: left;
          
    }
}
button {
    @include button
}