@import "./globals.scss";

nav {
    position: sticky;
    z-index: 2;
    font-family: $poppins;
    background-color: $white;
    color: $grey;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    border-bottom: 1px solid $grey;

    a {
        img {
            padding: 15px;
            height: 20px;
        }
    }

    .search-form {
        flex-grow: 1; 
        display: -webkit-inline-flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
    }

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        overflow: hidden;

        li {
            float: left;
        }
    }
    a{
        
    }
    .buttons {
        width: fit-content;
        justify-content: space-between;
        
        
    }
    button {
        @include button;
        margin-left: 5px;
        margin-right: 5px;
    }

}
