@import "./globals.scss";

a{
    text-decoration: none;
}


.CardBox{
    font-family: $raleway;
    color: $grey;
    border-bottom: 0.1vw solid $grey3;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    
    .heartInfo{
        display: flex;
        flex-direction: row;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .LikeFunc {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin: 0px 5px 0px 5px;
        justify-content: center;
        


        .filledHeart{
            color: $green1;
          }

        p {
            color: $green1;
            white-space: nowrap;
            white-space: nowrap;
            overflow: auto;
            text-overflow: ellipsis;
        }
        
    }

    .InfoPart {
        font-family: $poppins;
        display: flex;
        flex-direction: row;
        text-align: left;
        text-decoration: none;
        margin-left: 5px;
    h3{
        @media (max-width: 576px) {
            font-size: 1rem;
            margin-bottom: 10px;        
        }
                }
        img{
            height: 50px;
            width: 50px;
            padding: 10px;
            border-radius: 100%;
            border: none;
@media (max-width: 576px) {
        display: none;
    }

        }
        i{
            font-size: 0.7em;
            @media (max-width: 576px) {
                  display: none;
                }
        }
        .userName{
            font-weight: 700;
            margin-bottom: 10px;
            @media (max-width: 576px) {
                    display: none;
                }
        }
               
        body.page
        p {
            color: $grey2;
            
        }
        .dot-under-review {
                display: flex;
                
                align-items: center;
                background-color: #f1c40f; /* Yellow */
                height: 1vw;
                width: 1vw;
                border: 0.2vw solid #f1c40f;
                border-radius: 100%;
                margin: 0.5vw 0.5vw 0.5vw 0;
                @media (max-width: 576px) {
                        height: 3vw;
                        width: 3vw;
                        margin-bottom: 10px;
                    }
          }
          
          .dot-planned {
                display: flex;
                
                align-items: center;
                background-color: $blue; /* Blue */
                height: 1vw;
                width: 1vw;
                border: 0.2vw solid $blue;
                border-radius: 100%;
                margin: 0.5vw 0.5vw 0.5vw 0;
                @media (max-width: 576px) {
                        height: 3vw;
                        width: 3vw;
                        margin-bottom: 10px;
                    }
          }
          
          .dot-in-progress {
                display: flex;
                
                align-items: center;
                background-color: $green1; /* Grøn */
                height: 1vw;
                width: 1vw;
                border: 0.2vw solid $green1;
                border-radius: 100%;
                margin: 0.5vw 0.5vw 0.5vw 0 ;
                @media (max-width: 576px) {
                        height: 3vw;
                        width: 3vw;
                        margin-bottom: 10px;
                    }
          }
          
          .dot-completed {
                display: flex;
                
                align-items: center;
                background-color: $purple; /* Lilla */
                height: 1vw;
                width: 1vw;
                border: 0.2vw solid $purple;
                border-radius: 100%;
                margin: 0.5vw 0.5vw 0.5vw 0 ;
                @media (max-width: 576px) {
                        height: 3vw;
                        width: 3vw;
                        margin-bottom: 10px;
                    }
          }
          
          .dot-closed {
                display: flex;
                
                align-items: center;
                background-color: #e67e22; /* Orange */
                height: 1vw;
                width: 1vw;
                border: 0.2vw solid #e67e22;
                border-radius: 100%;
                margin: 0.5vw 0.5vw 0.5vw 0 ;
                @media (max-width: 576px) {
                        height: 3vw;
                        width: 3vw;
                        margin-bottom: 10px;
                    }
          }
          b{
            padding-left: 25px;
            margin-bottom: 10px;
            padding-top: 10px;
                @media (max-width: 576px) {
                    font-size: 0.8rem;
                    line-height: 3vw;
                }
          }
          p{
            word-wrap: break-word;
                overflow-wrap: break-word;
            @media (max-width: 576px) {
                    font-size: 0.8rem;
                    line-height: 3vw;
                    word-wrap: break-word;
                    overflow-wrap: break-word;
                }
          }
    }
    
    .CommentNum {
        display: flex;
        flex-direction: column;
        margin: 0px 5px 0px 5px;
        justify-content: center;
        
            p {
                color: $green1;
            }
    }
}
.loggedOutText{
    font-family: $poppins;
    color: white;
    background-color: $grey3;
    border-radius: 10px;
    text-align: right;
    padding-right: 10px;
}