@import "./globals.scss";

.CardBox{
    border-bottom: 0.1vw solid $grey;
    display: flex;
    flex-direction: row;

    .LikeFunc {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin: 1vw;
        width: 10%;

        img {
            padding: 0.5vw;
            width: 2vw;
            height: 2vw;
        }

        p {
            color: $green1;
        }
        
    }

    .InfoPart {
        display: flex;
        flex-direction: column;
        text-align: left;
        margin: 1.5vw;
        width: 80%;

        h6 {
            color: $grey2;
        }

        p {
            color: $grey2;
        }

    }
    .CommentNum {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin: 1vw;
        width: 10%;
        
        img {
                padding: 0.5vw;
                width: 2vw;
                height: 2vw;
            }
        
            p {
                color: $green1;
            }
    }
}