@import "./globals.scss";

.CardBox{
    border-bottom: 0.1vw solid $grey3;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 0px 10px 0px;

    .heartInfo{
        display: flex;
        flex-direction: row;
    }

    .LikeFunc {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin: 1vw;
        width: 10%;

        img {
            padding: 0.5vw;
            width: 2vw;
            height: 2vw;
        }

        p {
            color: $green1;
        }
        
    }

    .InfoPart {
        font-family: $poppins;
        display: flex;
        flex-direction: column;
        text-align: left;
        
        max-width: 80vw;

        h6 {
            color: $grey2;
        }

        p {
            color: $grey2;
        }

    }
    .CommentNum {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin: 1vw;
        width: 10%;
        
        img {
                padding: 0.5vw;
                width: 2vw;
                height: 2vw;
            }
        
            p {
                color: $green1;
            }
    }
}