@import "./globals.scss";

@mixin RoadmapColumn{
    font-family: $poppins;
    text-align: center;
    padding: 10px;
    font-size: 1.5vw;
    user-select: none;
    color: black;
    border-radius: 0.3vw;
}

.roadmap {
    display: flex;
    background-color: $white;
    width: auto;
    gap: 10px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 100px;
    .roadmapColumn {
        flex: 1;
        justify-content: space-around;
        max-width: 33.33%;
        .roadmapColumnPlanned {
            @include RoadmapColumn;
            display: flex;
            margin: 1vw;
            .dot { 
                background-color: $blue;
                height: 1vw;
                width: 1vw;
                border: 0.2vw solid $blue;
                border-radius: 100%;
                margin: 1vw;
            }
        }
        .roadmapColumnProgress{
            @include RoadmapColumn;
            display: flex;
            margin: 1vw;
            .dot { 
                background-color: $green1;
                width: 1vw;
                height: 1vw;
                border: 0.2vw solid $green1;
                border-radius: 100%;
                margin: 1vw;
            }
        }
        
        .roadmapColumnCompleted {
            @include RoadmapColumn;
            display: flex;
            margin: 1vw;
            .dot { 
                background-color: $purple;
                height: 1vw;
                width: 1vw;
                border: 0.2vw solid $purple;
                border-radius: 100%;
                margin: 1vw;
            }
        }
    }
    .roadmapContent {
        padding: 10px 15px;
        box-sizing: border-box;
        background: $white;
        border: 0.2vw solid $lightGrey;
        cursor: pointer;
        
    }
    .roadmapContent:last-of-type {
        border-radius: 0.3vw;
        transform: translatey(-1px);
    }
}

.newRequest{
    float: right;
    background-color: $green1;
    padding: 10px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    a { 
    color: $white;
    text-decoration: none;
    list-style: none;
    }
    :hover {
        background-color: $white;
        color: $green1;
    }
}