@import "./globals.scss";

* {
  margin: 0;
  padding: 0;
}


  .rootbody{
    margin-left: 100px;
    height: 1107px;
   background-color: #D9D9D940;
  }
  .content{
    height: 1001px;
    border-radius: 4px;
    // border: 1px solid red;
    margin: 30px 60px 30px 30px;

  }
  .account{
    margin-left: 45px;
    margin-top: 45px;
  }
  .accset{
    font-family: $poppins;
    font-size: 50px;
    font-weight: 700;
    line-height: 75px;
    letter-spacing: 0em;
    text-align: left;
  }
  .accdetail{
    font-family: $poppins;
    font-size: 30px;
    font-weight: 400;
    line-height: 45px;
    letter-spacing: 0em;
    text-align: left;
  }
  .profile{
    display: flex;
    gap: 30px;
    margin-left: 45px;
    margin-top: 75px;
  }
  .top{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    background-color: rgb(17, 15, 15);
    overflow: hidden;
}
.imagef{
    height: 100%;
    width: 100%;
  }
  input[type="file"]{
    display: none;
  }
  .uploadimg{
    margin-top: 10px;
    width: 216px;
    height: 73px;
    border-radius: 4px;
    border: 1px solid #000000;
    background-color: #00904A;
   position: relative;
   
  }
  .uploadimg .labeling{
    
    font-family: $poppins;
    color: white;
    font-size: 25px;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: 0em;
    position: absolute;
    left: 20px;
    top: 15px;
  }
  .pname, .pemail{
    width: 1049px;
    height: 80px;
    box-shadow: 1px 8px 4px 1px rgba(0, 0, 0, 0.2);
    background-color: #D9D9D980;
    margin-left: 30px;
    overflow: hidden;
    margin-top: 30px;
    margin-bottom: 80px;
  }
  .hpname{
    font-family: Poppins;
    font-size: 25px;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: 0em;
    float: left;
    margin: 20px 20px auto 28px;
  }
  .hpdetail{
    font-family: $poppins;
    font-size: 25px;
    font-weight: 400;
    line-height: 38px;
    letter-spacing: 0em;
    text-align: left;
    margin-top: 20px;
    float: left;

  }
  .accountbottom{
    width: 1043px;
    height: 300px;
    background-color: #D9D9D980;
    margin-left: 30px;
    margin-right: 20px;
    box-shadow: 1px 8px 4px 1px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
  }
  .aheader{
    font-family: 'Rubik', sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 47px;
    letter-spacing: 0em;
    text-align: left;
    margin-left: 30px;
    margin-top: 30px;
    margin-bottom: 40px;
   
  }

  .Editp{
    margin: 0 60px 18px 30px;
    display: flex;
    justify-content: space-between;
  }
  .editpt{
    font-family: Rubik;
    font-size: 25px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    overflow: hidden;
  }
  .editpl{
    width: 25.16px;
    height: 26px;
  }
  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color:green;
  }
  
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

/* Mobile Styles (up to 767px) */
@media only screen and (max-width: 767px) {
    /* Your mobile styles go here */
    .rootContainer{
        display: none;
    }
    .mobileContainer{
        width: 100vw;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        
        
    }
    .menu1{
        display: flex;
        justify-content: space-between;
        // float: left;
    }
    .menu1 img{
        width: 55px;
        height: 55px;
        padding: 16.04px, 11.46px, 16.04px, 11.46px;

    }
    .menu1 span{
        font-family: $poppins;
        font-size: 20px;
        font-weight: 500;
        line-height: 30px;
        letter-spacing: 0em;
        text-align: center;
       margin: auto;


    }
    .menu2sm{
        display: flex;
        justify-content: space-around;
       margin-right: 50px;
        // float: left;

    }
    .menu2sm button{
        font-family: $poppins;
        font-size: 20px;
        font-weight: 700;
        line-height: 20px;
        letter-spacing: 0em;
        text-align: left;
        border: none;
        background-color: #018647;
        padding: 8px 5px;
        margin: auto 10px auto 0;
        align-items: center;
        border-radius: 4px;

    }
    .menu2sm img{
        width: 21px;
        height: 21px;
        margin: auto;
        align-items: center;
        margin-left: 20px;
    }
    .consm{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 2rem;
        position: relative;
        box-shadow: 0px 8px 4px rgba(0, 0, 0, 0.2);

    }
    .topsm{
        width: 100px;
        height: 100px;
        border-radius: 50px;
        background-color: rgb(17, 15, 15);
        margin: auto;
        position: relative;
        border-radius: 100%;
        overflow: hidden;
    }
    .imagefsm{
        height: 100%;
        width: 100%;
        position: absolute;
      }
      .bottomsm{
        font-size: 4rem;
        font-weight: bold;
        font-family: $poppins;
        margin-bottom: 5rem;
      }
      .mainbodysm{
        max-width: 99vw;
        min-width: 390px;
        height: 828px;
        box-shadow: 2px 4px 4px 1px #D9D9D940;
        // border: 1px solid red;
        margin: 20px;
        background-color: #D9D9D940;
        
      }
      .settingsm{
        display: flex;
        gap: 30px;
        margin-left: 12px;
        margin-top: 15px;
      }
      .settingsm img{
        width: 30.2px;
        height: 32px;
      }
      .settingsm span{
        font-family: 'Rubik', sans-serif;
        font-size: 28px;
        font-weight: 500;
        line-height: 33px;
        letter-spacing: 0.035em;
        text-align: left;

      }
      .muploading{
        display: flex;
        gap: 13px;
        margin-left: 12px;
        margin-top: 33px;
      }
      .muploading img{
        width: 47px;
        height: 47px;
      }
      input[type="file"]{
        display: none;
      }
      .mlebalsm{
        background-color: #018647;
        padding: 4px;
        border-radius: 4px;
      }
      .labelingsm{
        font-family: $poppins;
        font-size: 20px;
        font-weight: 700;
        line-height: 30px;
        letter-spacing: 0em;
      }
      .minfo{
        max-width: 85vw;
        min-width: 350px;
        height: 112px;
        border-radius: 4px;
        background-color: #ffffff;
        border: 1px solid #3F3E3E;
        margin-left: 12px;
        margin-top: 33px;
        display: flex;
        flex-direction: column;
      }
      .minfo1{
        font-family: Poppins;
        font-size: 20px;
        font-weight: 700;
        line-height: 30px;
        letter-spacing: 0em;
        text-align: left;
        margin: 10px 0px 10px 10px;
      }
      .minfo2{
        margin-left: 10px;
        font-family: $poppins;
        font-size: 20px;
        font-weight: 400;
        line-height: 30px;
        letter-spacing: 0em;
        text-align: left;
        margin: 0 0px 10px 10px;

      }
      .lastinfsm{
        margin: 50px 0 35px 10px;
      }
      .lastinfsm h3{
        font-family: Rubik;
        font-size: 18px;
        font-weight: 400;
        line-height: 21px;
        letter-spacing: 0em;
        text-align: left;
        color: #ADADAD;
      }
      .editpsm{
        display: flex;
        justify-content: space-between;
        margin: 30px 37px 0 0;
      }
      .editpsm span{
        font-family: Rubik;
        font-size: 18px;
        font-weight: 400;
        line-height: 21px;
        letter-spacing: 0em;
        text-align: left;

      }
      .Editpsm{
        display: flex;
        justify-content: space-between;
        margin: 30px 37px 0 0;
      }
      .editptsm{
        font-family: Rubik;
        font-size: 18px;
        font-weight: 400;
        line-height: 21px;
        letter-spacing: 0em;
        text-align: left;
      }
      .switchsm {
        position: relative;
        display: inline-block;
        width: 30px;
        height: 17px;
      }
      
      .switchsm input { 
        opacity: 0;
        width: 0;
        height: 0;
      }
      
      .slidersm {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
      }
      
      .slidersm:before {
        position: absolute;
        content: "";
        height: 13px;
        width: 13px;
        left: 2px;
        bottom: 2px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
      }
      
      input:checked + .slidersm {
        background-color: #E5386D;
      }
      
      input:focus + .slidersm {
        box-shadow: 0 0 1px #E5386D;
      }
      
      input:checked + .slidersm:before {
        -webkit-transform: translateX(13px);
        -ms-transform: translateX(13px);
        transform: translateX(13px);
      }
      
      /* Rounded sliders */
      .slidersm.roundsm {
        border-radius: 17px;
      }
      
      .slidersm.roundsm:before {
        border-radius: 50%;
      }
  }
  
  /* Tablet Styles (768px to 991px) */
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    /* Your tablet styles go here */
    .rootContainer{
        overflow: visible;
    }
    .mobileContainer{
        display: none;
    }
  }
  
  /* Desktop Styles (992px and above) */
  @media only screen and (min-width: 992px) {
    /* Your desktop styles go here */
    .mobileContainer{
        display: none;
    }
  }