@import "./globals.scss";

// Side navbar 

<<<<<<< HEAD
.leftside{
<<<<<<< HEAD
=======
  margin-top: -46px;
  margin-left: -30px;
=======
.container{
>>>>>>> ae6a8d24d22c1be3a3ce42573ab125c0d544c251
>>>>>>> parent of 8ef88e3 (Revert "commit all files")
  position: fixed;
  height: 100vh;
  width:15vh;
  background: url("../assets/SideBarBackgrounImage.png");
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  transform: translateY(0);
  
  a {
    font-family: $poppins;
    text-align: center;
    color: $white;
    text-decoration: none;
  }
}

<<<<<<< HEAD
}
.leftside .container{
  margin: 20 auto;

}
.menupicture{
  width: 90px;
height: 90px;
line-height: 31px;
letter-spacing: 0em;
text-align: center;
margin: auto;
 span {
  font-family: Inter;
  font-size: 26px;
  font-weight: 400;
  line-height: 31px;
  letter-spacing: 0em;
  text-align: center;
  color: $white;
}
}
=======
>>>>>>> ae6a8d24d22c1be3a3ce42573ab125c0d544c251
